<%= link_to "Back to All Pictures", images_url %> | <%= link_to "Delete", @image, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %>

<h1><%= @image.title %></h1>
<p><%= link_to "Edit this image", edit_image_path(@image) %></p>

<p><%= @image.artist %></p>
<p><%= @image.description %></p>
<%= image_tag @image.url %>
